.space_panel { 
	position: absolute; 
	top: 1rem;
	right: 3rem;
	height: 100%;
}

.space_panel_search {
	margin-bottom: 3rem;
}

.space_panel_area { 
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: .5rem;
	background: white;
	border-radius: 1.2rem;
	padding: 1rem; 
}

.space_panel_area_switch {
	display: flex;
}

.switch {
	margin-right: 1rem;
}

.route_panel_settings {
	display: flex;
	margin: 1rem 0;
	width: 15rem;
	flex-direction: column;
	align-items: center;
}

.route_panel_settings_special {
	display: flex;	
	width: 25rem;
}

.route_panel_settings_special_text {
	font-weight: 600;
	font-size: .8rem;
	margin-right: 1rem;
}

.route_panel_settings_item {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.route_panel_settings_item:not(:last-child) {
	margin-bottom: 1rem;
}

.route_panel_settings_item_text {
	width: 50%;
	margin-right: 1rem;
	font-size: .8rem;
}

.ant-space-item {
	margin-left: auto;
}

.ant-tabs-nav-wrap {
	justify-content: flex-end;
}

.ant-form-item {
	margin-bottom: 0;
}

.tree_select {
	width: 20rem !important;
}



















.red.ant-switch-checked {
	background-color: red;
}
.orange.ant-switch-checked {
	background-color: orange;
}
.green.ant-switch-checked {
	background-color: green;
}
.lilac.ant-switch-checked {
	background-color: rgb(120, 109, 156);
}
.burgundy.ant-switch-checked {
	background-color: #9f2b29;
}
.yellow.ant-switch-checked {
	background-color: yellow;
}
.pink.ant-switch-checked {
	background-color: #ca23d1;
}